Django==4.1.10
django-bootstrap5==23.3
django-cors-headers==4.2.0
django-jazzmin==2.6.0
torch
transformers
aiofiles
pillow
numpy
tensorflow
spacy
nltk
text2text
boto3
sense2vec
entence_transformers
textwrap3
flashtext
jellyfish
similarity
strsim
gdown
