{% load static %}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>quizzes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/question.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body style="background-color:#192e3a;">
    <div class="overlay">
        <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
    </div>
    <h2 style="background-color: green;">quizzes</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-10">
                <br>
                <h5 style="color: white; font-size: 35px;"> Upload Chapter</h5>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {% bootstrap_field form.chapter %}
                    </div>
                </div>

                <div class="form-row ">
                    <div class="form-group col-md-3">
                        <br>
                        <button class="btn btn-success btn-lg btn-block" id="btn_generate" type="submit">Generate</button>
                    </div>
                </div>

                <hr>

                <div style="color: white;">
                    <h1 style="margin-left: 500px; font-size: 55px;">MCQ</h1>
                    <div>
                        {% for q,a in qa_pairs %}
                        <div class="container mt-sm-5 my-1">
                            <div class="question ml-sm-5 pl-sm-5 pt-2">
                               <p style="font-size: 25px;">{{q}}</p>
                               <br/>
                                {% for answer  in a|slice:":4" %}
                                    <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                        <label class="options">{{ answer }}
                                            <input type="radio" value="wrong" name="question_{{ forloop.parentloop.counter }}">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

    </form>
</body>

</html>
